* {
    box-sizing: border-box;
}

html, body {
    font-family: "Helvetica", arial, sans-serif;
    font-weight: normal;
    letter-spacing: 0px;
    font-family: "proxima-nova";
    line-height: 1.6em;
    text-transform: none;
    letter-spacing: .02em;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: pink;
}

a:focus {
    text-decoration: none;
}

a:active {}

a:hover, a:active {
    text-decoration: none;
}

.hide {
    display: none;
}

@media(min-width: 1px) {
    .hero {
        display: none;
    }

    .inline {
        display: inline;
    }

    #about {
        display: none;
    }

    .nav {
        font-size: 1.5em;
        text-decoration: none;
        height: 800px;
        position: relative;
        text-transform: uppercase;
        text-align: center;
        display: inline;
    }

    .navitems {
        list-style-type: none;
        padding-top: 10%;
        padding-left: 0;
        display: inline;
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    .abouttext {
        display: none;
    }
}

@media(min-width: 629px) {
    .whole-page {
        margin: 50px;
        padding: 20px;
        display: block;
    }

    .hero {
        display: block;
    }

    /*Left Side*/
    .nav {
        font-size: 1em;
        text-decoration: none;
        height: 800px;
        position: static;
        max-width: 24.9%;
        display: inline-block;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-right: 5%;
        text-align: justify;
        padding-left: 0;
    }

    .navitems {
        list-style-type: none;
        padding-top: 10px;
        padding-left: 0;
        display: block;
    }

    ul {
        list-style-type: none;
        list-style: none;
        padding-left: 0;
        color: black;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-block-start: 0em;
    }

    #title {
        margin: 0;
        color: #E1ECEC;
    }

    #subtitle {
        color: #E1ECEC;
        padding: 0;
        margin: 0;
    }

    /*Right side*/
    .canvas {
        display: inline-block;
        width: 600px;
        height: 100%;
        position: absolute;
    }

    .canvas .hero img {
        display: block;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1%;
    }

    .abouttext {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    /*Clips Page*/
    #clipheader {
        font-size: 1.5em;
        text-align: right;
        text-transform: uppercase;
    }

    .cliplist {
        line-height: 1em;
        text-align: left;
    }

    .clip {
        text-align: left;
    }

    .clipbyline {
        text-align: right;
        font-style: italic;
        font-size: 12px;
    }

    /** resume styles**/
    .experience {
        margin-top: 35px;
        font-size: 12px;
    }

    .resume {
        padding-top: : 5px;
    }

    .workplace {
        font-weight: bold;
    }

    .resume p {
        font-size: 14px;
    }

    .about {
        font-weight: lighter;
    }

    .abouttext {
        display: block;
    }

    /**about styles**/
    #about {
        font-size: 16px;
        padding-left: 60px;
        padding-right: 60px;
        text-align: left;
    }

    .aboutimage {
        max-width: 200px;
        float: right;
    }
}